.swiper {
  padding-bottom: 3rem !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  margin: 0 6px !important;
  background: #e2e8f0 !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: #6366f1 !important;
} 